* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
}

ul {
  display: inline-block;
}

.bottom-header {
  font-weight: 600;
  font-size: 15px;
}

ul li {
  display: inline-block;
  list-style: none;
  margin-right: 40px;
  padding-bottom: 5px;
}

ul li:last-child {
  color: #3367D6;
  border-bottom: 3px solid #3367D6;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #CBCBCB;
  color: #5F6368;
  padding: 24px 24px 0 24px;
  z-index: 100;
}

header .top-header .logo {
  display: inline-block;
}

header .top-header .logo img {
  vertical-align: bottom;
}

header .top-header .privacy-terms-title {
  display: inline-block;
}

header .top-header .privacy-terms-title h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 2px;
}

header .bottom-header {
  padding: 19px 15px 0 0;
}

header .bottom-header .bottom-header-left,
header .bottom-header .bottom-header-right {
  width: 49%;
  display: inline-block;
}

header .bottom-header .bottom-header-right {
  text-align: right;
}

main {
  padding-top: 165px;
}

main .container-faq {
  margin: 0 auto;
  width: 980px;
}

main .container-faq h2 {
  padding-top: 30px;
  color: #3C4043;
}

main .container-faq p {
  font-size: 15px;
  color: #5F5F5F;
  line-height: 1.5;
}

