* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

ul {
    display: inline-block;
}

ul li {
    display: inline-block;
    list-style: none;
}

.bottom-header {
    font-weight: 600;
    font-size: 15px;
}

header {
    ul li {
        margin-right: 40px;
        padding-bottom: 5px;

        &:last-child {
            color: $font-color-header-active;
            border-bottom: 3px solid $font-color-header-active;
        }
    }
}
