header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #CBCBCB;
    color: $font-color-header;
    padding: 24px 24px 0 24px;
    z-index: 100;

    .top-header {
        .logo {
            display: inline-block;

            img {
                vertical-align: bottom;
            }
        }
        .privacy-terms-title {
            display: inline-block;

            h2 {
                font-size: 21px;
                font-weight: 600;
                margin-left: 2px;
            }
        }
    }

    .bottom-header {
        padding: 19px 15px 0 0;
        display: flex;
        justify-content: space-between;
    }
}
