main {
    padding-top: 165px;

    .container-faq {
        margin: 0 auto;
        width: $container;

        h2 {
            font-family: 'Open Sans', sans-serif;
            padding-top: 30px;
            color: $font-color-main-h2;
        }

        p {
            font-size: 15px;
            color: $font-color-main-p;
            font-family: 'Roboto', sans-serif;
            line-height: 1.5;
        }
    }
}
